

{
    email djengu@email.com
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
    local_certs
}

https://${ORIGIN_DOMAIN} {
    reverse_proxy quasar:3100
}


https://${API_DOMAIN}  {
    reverse_proxy django:8100
}