## Base requirements file. After installation, it
## is recommended that you pin your versions. You can
## do this by running "pip freeze > requirements.txt".
Django
psycopg2-binary
gunicorn
django-cors-headers
dj-rest-auth
django-allauth
djangorestframework-simplejwt
python-dateutil
whitenoise
pytest-django
selenium
django-extensions
django-sslserver

