## Base requirements file. After installation, it
## is recommended that you pin your versions. You can
## do this by running "pip freeze > requirements.txt".
Django==3.1.7
psycopg2-binary
gunicorn
django-cors-headers
dj-rest-auth
django-allauth
django-registration
djangorestframework_simplejwt
python-dateutil
whitenoise
pytest-django
django-extensions
django-sslserver

