name: build

on:
  push:
    branches:
      - main


jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 1
      - name: Run build
        run: sudo apt-get update -y && sudo apt-get install python3-virtualenv -y && make test-build
